Repository esarkarov/ecom: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'pnpm exec tsc --noEmit'

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx}": ["eslint --fix", "prettier --write", "bash -c 'pnpm exec tsc --noEmit'"],
  "*.{json,md,mdx,css,scss}": ["prettier --write"],
  "package.json": ["prettier --write"]
}

chore: update .husky/pre-commit file to the new format
  .husky/pre-commit
Due: none

fix: update ci workflow to use pnpm run commands
  .github/workflows/ci.yml
Due: none

chore: add prettierignore and update lint-staged config
  .gitignore
  .lintstagedrc.json
  .prettierignore
Due: prettier --write

feat: implement root layout and design
  app/globals.css
  app/layout.tsx
  package.json
  pnpm-lock.yaml
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/atoms/ShoppingCartIcon.tsx
  src/components/molecules/SearchBar.tsx
  src/components/organisms/Footer.tsx
  src/components/organisms/Navbar.tsx
Due: eslint --fix, prettier --write, bash -c 'pnpm exec tsc --noEmit'

feat: implement product list ui
  src/app/favicon.ico
  src/app/layout.tsx
  src/app/page.tsx
  src/components/atoms/AddToCartButton.tsx
  src/components/atoms/BrandLogo.tsx
  src/components/atoms/Category.tsx
  src/components/atoms/ColorOption.tsx
  src/components/atoms/SignInLink.tsx
  src/components/atoms/SizeSelect.tsx
  src/components/atoms/ViewAllLink.tsx
  src/components/molecules/Categories.tsx
  src/components/molecules/Filter.tsx
  src/components/molecules/ProductCard.tsx
  src/components/molecules/SearchBar.tsx
  src/components/organisms/Footer.tsx
  src/components/organisms/Navbar.tsx
  src/components/organisms/ProductList.tsx
  src/constants/index.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm exec tsc --noEmit'

feat: implement product list and details page ui
  src/app/page.tsx
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/components/atoms/AddToCartButton.tsx
  src/components/atoms/Category.tsx
  src/components/atoms/ColorOption.tsx
  src/components/atoms/SignInLink.tsx
  src/components/atoms/ViewAllLink.tsx
  src/components/molecules/ColorOptions.tsx
  src/components/molecules/Filter.tsx
  src/components/molecules/ProductCard.tsx
  src/components/molecules/QuantityControl.tsx
  src/components/molecules/SizeOptions.tsx
  src/components/molecules/SizeSelect.tsx
  src/components/organisms/Footer.tsx
  src/components/organisms/Navbar.tsx
  src/components/organisms/PaymentDisclaimer.tsx
  src/components/organisms/ProductActions.tsx
  src/components/organisms/ProductList.tsx
  src/constants/index.tsx
  src/pages/HomePage.tsx
  src/pages/ProductPage.tsx
  src/types/index.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm exec tsc --noEmit'

feat: implement cart page ui
  .lintstagedrc.json
  package.json
  pnpm-lock.yaml
  src/app/cart/page.tsx
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/products/[id]/page.tsx
  src/app/products/page.tsx
  src/components/atoms/Category.tsx
  src/components/molecules/CartItem.tsx
  src/components/molecules/CartSummary.tsx
  src/components/molecules/ColorOptions.tsx
  src/components/molecules/Filter.tsx
  src/components/molecules/FormField.tsx
  src/components/molecules/ProductCard.tsx
  src/components/molecules/QuantityControl.tsx
  src/components/molecules/SizeOptions.tsx
  src/components/molecules/StepItem.tsx
  src/components/organisms/Navbar.tsx
  src/components/organisms/PaymentDisclaimer.tsx
  src/components/organisms/PaymentForm.tsx
  src/components/organisms/ShippingForm.tsx
  src/constants/index.tsx
  src/pages/CartPage.tsx
  src/pages/HomePage.tsx
  src/pages/ProductPage.tsx
  src/schemas/index.ts
  src/types/index.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm exec tsc --noEmit'

feat: set up zustand stores for cart and checkout flows
  package.json
  pnpm-lock.yaml
  src/components/atoms/ShoppingCartIcon.tsx
  src/components/molecules/CartItem.tsx
  src/components/molecules/CartSummary.tsx
  src/components/molecules/ProductCard.tsx
  src/components/molecules/QuantityControl.tsx
  src/components/organisms/ProductActions.tsx
  src/constants/index.tsx
  src/pages/CartPage.tsx
  src/pages/ProductPage.tsx
  src/stores/cartStore.ts
  src/types/index.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm exec tsc --noEmit'
